#headerLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  filter: brightness(0%);

}

body {
  background: rgb(47, 156, 149);
  background: linear-gradient(90deg, rgba(47, 156, 149, 1) 7%, rgba(198, 255, 112, 1) 22%, rgba(198, 255, 112, 1) 78%, rgba(47, 156, 149, 1) 93%);
}

#TESTCOLORS {
  color: #c5ff6e;
}

#navBar {
  background-color: #c6ff70;
  padding: 0;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#navBar button {
  background-color: #c6ff70;
}

#navBar button:hover {
  transform: scale(1.5);
}

#dashboard {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}

#dashboardH1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

#loadingImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0px;
}

table {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#flexChild {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: #2f9c95;
  margin-left: -8px;
  width: 100vw;
}

#content {
  margin-bottom: 30px;
}

#searchForm {
  margin-top: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#dashboardPic {
  width: 50px;
  border-radius: 50%;
  margin-right: 0;
}

#dashboardUsername {
  font-size: 16px;
}

#dashUserRow {
  font-size: 16px;
  position: fixed;
  top: 0;
  right: 0;
}